################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JM_Apps/.vs/JM_Apps
/JM_Apps/JM_Console/obj
/JM_Apps/WebApplication1/obj
